h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;

  th {
    background-color: #030637;
    height: 30px;
    color: #fff;
  }

  td {
    background-color: #bbb;
    border: 1px solid #fff;
    padding: 5px;

    &.btn-container {
      text-align: center;
      width: 120px;
    }
  }
}

button {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.5s ease;

  &.add {
    width: 180px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
  }

  &.edit,
  &.add {
    background-color: green;
  }

  &.delete {
    background-color: red;
  }

  &:hover {
    opacity: 0.7;
  }
}
