table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-bottom: 20px;

  td {
    border: 1px solid #ccc;
  }
}

button {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.edit,
  &.create {
    background-color: green;
  }

  &.delete {
    background-color: red;
  }

  &:hover {
    background-color: #ccc;
  }
}
