:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #030637;
    border-radius: 10px;
    padding: 20px 40px;

    input {
      width: 300px;
      height: 20px;
      border: none;
      border-radius: 5px;
      padding: 5px;

      &:hover,
      &:focus {
        background-color: #ccc;
        outline: none;
      }

      &.skill-input {
        width: 190px;
      }
    }

    label {
      color: #fff;
      text-align: left;
    }

    button {
      width: 120px;
      height: 30px;
      margin: 10px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: green;
      transition: all 0.5s ease;

      &.delete {
        width: 100px;
        background-color: red;
      }

      &:hover {
        background-color: #aaa;
      }

      &.submit {
        margin: 0 auto;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .error {
      color: red;
    }
  }
}
